/home/andrea/Scrivania/myDataset/img/ #baseNameImage;
jpg #imageExtension;
0 #idxFirstFrame;
2 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
2448 #imageH;
3264 #imageW;
/home/andrea/Documenti/PhD/cameraFileCreator/wall1_dense_par.txt #pathCamsPose
/home/andrea/Documenti/PhD/cameraFileCreator/wall1_dense_points.out #pathInitPoints