/home/andrea/workspaceC/photometricSurfaceEvolution/dino/dinoR #baseNameImage;
png #imageExtension;
1 #idxFirstFrame;
4 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
480 #imageH;
640 #imageW;
/home/andrea/workspaceC/photometricSurfaceEvolution/dino.ply #pathInitMesh
/home/andrea/workspaceC/photometricSurfaceEvolution/dino/dinoR_par.txt #pathCamsPose
0.9 #thresholdNCC;
0.0001 #kSweepingDistance;
30 #numPlanes;
10 #windowNCC
10 #windowLocalMaxima
dino #nameDataset
firstMesh #nameFirstMesh
meshdino #name other meshes

