/home/andrea/workspaceC/edgePointSpaceCarver/herzuData/images/ #baseNameImage;
png #imageExtension;
0 #idxFirstFrame;
4 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
2048 #imageH;
3072 #imageW;
/home/andrea/workspaceC/edgePointSpaceCarver/provaok.ply #pathInitMesh
/home/andrea/Documenti/PhD/cameraFileCreator/herzuGT_par.txt #pathCamsPose
0.9 #thresholdNCC;
0.05 #kSweepingDistance;
10 #numPlanes;
8 #windowNCC
0 #windowLocalMaxima
Herz-JesuGTJ8 #nameDataset
firstMeshGT #nameFirstMesh
meshHerz-JesuGT #name other meshes

