/home/andrea/sharedVirtualBox/dataset/kitti_0095_seq/ #baseNameImage;
jpg #imageExtension;
0 #idxFirstFrame;
10 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
2304 #imageH;
3072 #imageW;
 #pathInitMesh
/home/andrea/Documenti/PhD/cameraFileCreator/vienna3_par.txt #pathCamsPose
0.97 #thresholdNCC;
0.05 #kSweepingDistance;
10 #numPlanes;
8 #windowNCC
0 #windowLocalMaxima
vienna3 #nameDataset
firstMesh #nameFirstMesh
v #name other meshes
23 #rowGrid
30 #colGrid
1 #maxPointsPerCell

