/home/andrea/sharedVirtualBox/UntexturedDataset/wall2/wall2.nvm.cmvs/00/visualize/  #baseNameImage;
jpg #imageExtension;
0 #idxFirstFrame;
4 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
1728 #imageH;
2592 #imageW;
 #pathInitMesh
/home/andrea/Documenti/PhD/cameraFileCreator/wall2_par.txt #pathCamsPose
0.9 #thresholdNCC;
0.01 #kSweepingDistance;
10 #numPlanes;
5 #windowNCC
0 #windowLocalMaxima
indoor_wall2_with_added #nameDataset
firstMeshGT #nameFirstMesh
indoor_wall2 #name other meshes

