/home/andrea/workspaceC/edgePointSpaceCarver/herzuData/images/ #baseNameImage;
png #imageExtension;
0 #idxFirstFrame;
4 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
2048 #imageH;
3072 #imageW;
 #pathInitMesh
/home/andrea/Documenti/PhD/cameraFileCreator/herzuGT_par.txt #pathCamsPose
0.97 #thresholdNCC;
0.005 #kSweepingDistance;
40 #numPlanes;
5 #windowNCC
1 #windowLocalMaxima
Herz-JesuGTJ8 #nameDataset
firstMeshGT #nameFirstMesh
meshHerz-JesuGT #name other meshes
10 #rowGrid
15 #colGrid
1 #maxPointsPerCell
