/home/andrea/Scrivania/EpflDataset/fountain_dense/images/ #baseNameImage;
png #imageExtension;
0 #idxFirstFrame;
4 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
1200 #imageH;
1600 #imageW;
 #pathInitMesh
/home/andrea/Documenti/PhD/cameraFileCreator/d_par.txt #pathCamsPose
0.99   #thresholdNCC;
0.008 #kSweepingDistance;
10 #numPlanes;
7  #windowNCC
0 #windowLocalMaxima
dagstfuhl_   #nameDataset
first #nameFirstMesh
dagstuhto_ #name other meshes
24 #rowGrid
32 #colGrid
1 #maxPointsPerCell

