/home/andrea/Scrivania/EpflDataset/fountain_dense/images/ #baseNameImage;
png #imageExtension;
0 #idxFirstFrame;
2 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
2448 #imageH;
3264 #imageW;
 #pathInitMesh
/home/andrea/Documenti/PhD/cameraFileCreator/wall1_dense_par.txt #pathCamsPose
0.9 #thresholdNCC;
0.01 #kSweepingDistance;
10 #numPlanes;
5 #windowNCC
0 #windowLocalMaxima
indoor_wall1 #nameDataset
firstMeshGT #nameFirstMesh
indoor_wall1 #name other meshes

