/home/andrea/sharedVirtualBox/dataset/kitti_0095_seq/ #baseNameImage;
jpg #imageExtension;
0 #idxFirstFrame;
10 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
2304 #imageH;
3072 #imageW;
/home/andrea/Documenti/PhD/cameraFileCreator/vienna3_par.txt #pathCamsPose
/home/andrea/Documenti/PhD/cameraFileCreator/vienna3_points.out #pathInitPoints

