/home/andrea/Scrivania/EpflDataset/fountain_dense/images/ #baseNameImage;
png #imageExtension;
0 #idxFirstFrame;
4 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
2048 #imageH;
3072 #imageW;
 #pathInitMesh
/home/andrea/Documenti/PhD/cameraFileCreator/fountainGT_par.txt #pathCamsPose
0.99   #thresholdNCC;
0.003 #kSweepingDistance;
15 #numPlanes;
5  #windowNCC
0 #windowLocalMaxima
LAS__ #nameDataset
first_ #nameFirstMesh
_ #name other meshes
30 #rowGrid
40 #colGrid
1 #maxPointsPerCell

