/home/andrea/Scrivania/EpflDataset/fountain_dense/images/ #baseNameImage;
png #imageExtension;
0 #idxFirstFrame;
 #digitIdxLength //if 0 no padding
1 #idxLastFrame //if empty num of cams
1020 #imageH;
1020 #imageW;
 #pathInitMesh
/home/andrea/workspaceC/simulatedDatasetCreator/datasetSweep/cams_par.txt #pathCamsPose
0.99 #thresholdNCC;
0.01 #kSweepingDistance;
32 #numPlanes;
10 #windowNCC
3 #windowLocalMaxima
simPyr2_2__ #nameDataset
firstMeshGT #nameFirstMesh
sPyr2_ #name other meshes
10 #rowGrid
10 #colGrid
1 #maxPointsPerCell

