/home/andrea/Scrivania/EpflDataset/fountain_dense/images/ #baseNameImage;
png #imageExtension;
0 #idxFirstFrame;
4 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
1200 #imageH;
1600 #imageW;
/home/andrea/Documenti/PhD/cameraFileCreator/d_par.txt #pathCamsPose
/home/andrea/Documenti/PhD/cameraFileCreator/d_points.out #pathInitPoints