/home/andrea/Scrivania/EpflDataset/castle_dense/images/ #baseNameImage;
png #imageExtension;
0 #idxFirstFrame;
4 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
2048 #imageH;
3072 #imageW;
/home/andrea/workspaceC/edgePointSpaceCarver/herzuData/meshes/ProvaHerzu_ManifinverseConicEnabled_1.ply #pathInitMesh
/home/andrea/Documenti/PhD/cameraFileCreator/kitti_0095_par.txt #pathCamsPose
0.95 #thresholdNCC;
0.001 #kSweepingDistance;
1 #numPlanes;
15 #windowNCC
10 #windowLocalMaxima
castle #nameDataset
firstMesh #nameFirstMesh
meshcastle #name other meshes

