/home/andrea/sharedVirtualBox/UntexturedDataset/wall2/wall2.nvm.cmvs/00/visualize/  #baseNameImage;
jpg #imageExtension;
0 #idxFirstFrame;
4 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
1728 #imageH;
2592 #imageW;
/home/andrea/Documenti/PhD/cameraFileCreator/wall2_par.txt #pathCamsPose
/home/andrea/Documenti/PhD/cameraFileCreator/wall2_add.out #pathInitPoints