/home/andrea/workspaceC/edgePointSpaceCarver/herzuData/images/ #baseNameImage;
png #imageExtension;
0 #idxFirstFrame;
4 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
2048 #imageH;
3072 #imageW;
/home/andrea/workspaceC/edgePointSpaceCarver/provaok2.ply #pathInitMesh
/home/andrea/Documenti/PhD/cameraFileCreator/herzuGT_par.txt  #pathCamsPose
0.95 #thresholdNCC;
0.003 #kSweepingDistance;
2 #numPlanes;
10 #windowNCC
0 #windowLocalMaxima

