/home/andrea/workspaceC/simulatedDatasetCreator/datasetSweep/images/datasetSweepIMG #baseNameImage;
jpg #imageExtension;
0 #idxFirstFrame;
 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
1020 #imageH;
1020 #imageW;
/home/andrea/workspaceC/simulatedDatasetCreator/datasetSweepPlane1/cams_par.txt #pathCamsPose
/home/andrea/workspaceC/simulatedDatasetCreator/datasetSweepPlane1/points_add2.out #pathInitPoints