/home/andrea/workspaceC/photometricSurfaceEvolution/dino/dinoR #baseNameImage;
png #imageExtension;
1 #idxFirstFrame;
4 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
480 #imageH;
640 #imageW;
/home/andrea/workspaceC/photometricSurfaceEvolution/dino.ply #pathInitMesh
/home/andrea/workspaceC/photometricSurfaceEvolution/dino/dinoR_par.txt #pathCamsPose
0.95 #thresholdNCC;
0.00001 #kSweepingDistance;
5 #numPlanes;
15 #windowNCC
5 #windowLocalMaxima

