/home/andrea/Scrivania/EpflDataset/fountain_dense/images/ #baseNameImage;
png #imageExtension;
0 #idxFirstFrame;
4 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
2048 #imageH;
3072 #imageW;
/home/andrea/Documenti/PhD/cameraFileCreator/fountainGT_par.txt #pathCamsPose
/home/andrea/Documenti/PhD/cameraFileCreator/fountain_pointsAlignedWithGT.out #pathInitPoints