/home/andrea/sharedVirtualBox/dataset/kitti_0095_seq/ #baseNameImage;
jpg #imageExtension;
0 #idxFirstFrame;
10 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
512 #imageH;
1392 #imageW;
 #pathInitMesh
/home/andrea/Documenti/PhD/cameraFileCreator/kitti_0095_par.txt #pathCamsPose
0.99 #thresholdNCC;
0.009 #kSweepingDistance;
10 #numPlanes;
8 #windowNCC
0 #windowLocalMaxima
0095_1.25 #nameDataset
firstMesh #nameFirstMesh
mesh0095 #name other meshes
60 #rowGrid
80 #colGrid
1 #maxPointsPerCell

