/home/andrea/sharedVirtualBox/dataset/kitti_0095_seq/ #baseNameImage;
jpg #imageExtension;
0 #idxFirstFrame;
10 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
512 #imageH;
1392 #imageW;
/home/andrea/Documenti/PhD/cameraFileCreator/kitti_0095_par.txt #pathCamsPose
/home/andrea/Documenti/PhD/cameraFileCreator/kitti_0095_points.out #pathInitPoints

