/home/andrea/sharedVirtualBox/dataset/kitti_0095_seq/ #baseNameImage;
jpg #imageExtension;
0 #idxFirstFrame;
10 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
375 #imageH;
1242 #imageW;
/home/andrea/Documenti/PhD/cameraFileCreator/notredameSimpler_par.txt #pathCamsPose
/home/andrea/Documenti/PhD/cameraFileCreator/notredame_points.out #pathInitPoints

