#################ConfigFile##############################
################Video configurations#####################
/home/andrea/Scrivania/EpflDataset/fountain_dense/images/ #baseNameImage;
png #imageExtension;
0 #idxFirstFrame;
4 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
2048 #imageH;
3072 #imageW;
################Space Carving configurations#####################
5 #keyFramePeriod;
5 #keyFramePeriodIteration;
30 #cannyHighThreshold;
10 #downsamplePeriod;
50 #maxGaussNewtonIteration;
5 #minDistBetweenTrackedPoints;
20.0 #maxEpipolarDist
5 #minTrackLength;
5 #manifoldPeriod;
1 #inverseConicEnabled;
4.5 #probOrVoteThreshold;
1 #edgePointEnabled;1for Edge-Points 2 for harris, 3 for fast
30 #firstGrowingFrame;
0 #enableSaveReconstr
0 #enableSaveShrink
40.0 #maxDistanceCamFeature
1 #enableSuboptimalPolicy
0 #suboptimalMethod 0 (min dist) 1 (avg) 2 (weighted avg)

