/home/andrea/Scrivania/EpflDataset/castle_entry_dense/images/ #baseNameImage;
png #imageExtension;
0 #idxFirstFrame;
4 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
2048 #imageH;
3072 #imageW;
 #pathInitMesh
/home/andrea/Documenti/PhD/cameraFileCreator/castle_entry_par.txt #pathCamsPose
0.98 #thresholdNCC;
0.005 #kSweepingDistance;
10 #numPlanes;
5 #windowNCC
0 #windowLocalMaxima
castleEntry #nameDataset
firstMesh #nameFirstMesh
meshcastleEntry #name other meshes
10 #rowGrid
14 #colGrid
2 #maxPointsPerCell

