#################ConfigFile##############################
###############Video configurations#####################
#baseNameImage;
png #imageExtension;
1 #idxFirstFrame;
10 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
375 #imageH;
1242 #imageW;
################Space Carving configurations#####################
5 #keyFramePeriod;
5 #keyFramePeriodIteration;
30 #cannyHighThreshold;
10 #downsamplePeriod;
50 #maxGaussNewtonIteration;
8 #minDistBetweenTrackedPoints;
20.0 #maxEpipolarDist
5 #minTrackLength;
5 #manifoldPeriod;
1 #inverseConicEnabled;
5.0 #probOrVoteThreshold;
1 #edgePointEnabled;1for Edge-Points 2 for harris, 3 for fast
30 #firstGrowingFrame;
0 #enableSaveReconstr
0 #enableSaveShrink
50.0 #maxDistanceCamFeature
1 #enableSuboptimalPolicy

