/home/andrea/workspaceC/photometricSurfaceEvolution/dino/dinoR #baseNameImage;
png #imageExtension;
1 #idxFirstFrame;
4 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
480 #imageH;
640 #imageW;
/home/andrea/workspaceC/simulatedDatasetCreator/datasetSweep/initMesh.ply #pathInitMesh
/home/andrea/workspaceC/simulatedDatasetCreator/datasetSweep/cams_par.txt #pathCamsPose

