/home/andrea/workspaceC/edgePointSpaceCarver/herzuData/images/ #baseNameImage;
png #imageExtension;
0 #idxFirstFrame;
4 #digitIdxLength //if 0 no padding
 #idxLastFrame //if empty num of cams
2048 #imageH;
3072 #imageW;
/home/andrea/workspaceC/edgePointSpaceCarver/herzuData/meshes/ProvaHerzu_ManifinverseConicEnabled_a.ply #pathInitMesh
/home/andrea/workspaceC/edgePointSpaceCarver/herzuData/cams/herzu_15_04_11_par.txt #pathCamsPose
0.98 #thresholdNCC;
0.0003 #kSweepingDistance;
2 #numPlanes;
10 #windowNCC
5 #windowLocalMaxima

